body,html{
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  height: 100%;
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }
.TodoBlocks{
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 900px;
}
.ContentsBlocks{
  border-radius: 10px;
  margin: auto auto;
  min-height: 400px;
  padding: 28px 48px 48px 48px;
  background: #fff;
  width: 100%;
  width: 700px;
}
/* clear Block */
.ClearBlock {
  padding: 0px;
  margin: 0px;
  height: 44px;
  display: flex;
  align-items: end;
  flex-direction: column;
  flex-wrap: nowrap;
}
.ClearTitle{
  color: #000;
  font-size: 14px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.ClearBtn{
  cursor: pointer;
  color: #000;
  transition: all 0.3s;
  margin: 0;
  padding: 0;
}
.ClearBtn:hover{
  color: #2d2d2d72;
  transition: all 0.3s;
}
.ClearTitle:hover{
  color: #2d2d2d72;
  transition: all 0.3s;
}
/* create Block */
.CreateBlock{
  width: 100%;
  margin-top: 10px;
}
.CreateInput{
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  width: 75%;
  padding: 10px;
}
.CreateInput:focus{
  outline:1px solid #3b71ca;;
}
.CreateBtn{
  cursor: pointer;
  width: 20%;
  background: #4ca2be;
  color: #fff;
  margin-left: 10px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #4ca2be;
  border-radius: 5px;
  transition: all 0.3s;
  box-shadow: 198 8px 9px -4px rgba(80, 171, 200, 0.3), 0 4px 18px 0 rgba(80, 171, 200, 0.2);;
}
.CreateBtn:hover{
  transition: all 0.3s;
  color: #f0eded;
  background: #3b98b7;
}
/* progress */
.BlockProgress{
  border-radius: 3px;
  border:  2px solid rgba(0, 0, 0, 0.175);
  height: 20%;
}
.ProgressTitle{
  font-size: 10px;
  cursor: default;
}
.Progress{
  padding-top: 5px;
  padding-bottom: 5px;
  height: 20%;
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
/* todolist */
.ContentAllTitle{
  color: #3b71ca;
  width: 40px;
  text-align: center;
  cursor: pointer;
  padding-left: 5px;
  border-bottom: 1px solid #3b71ca;
}
.ContentUl{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ContentBlocksAllItem{
  background-color: #f4f6f7;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  padding:5px;
  display: flex;
  gap: 10px;
}
.TodoLi{
  text-align: start;
}
.TodoBtnDelete{
  cursor: pointer;
  text-align: end;
  background: #3b71ca;
  color: #fff;
  border: 1px solid #3b71ca;;
  border-radius: 5px;
  transition: all 0.3s;
}
.TodoBtnDelete:hover{
  background: #1f60c9;
  color: #e6dcdc;
  border: 1px solid #1f60c9;
  transition: all 0.3s;
  color: #f0eded;
}
.TodoBtnTrue{
  cursor: pointer;
  transition: all 0.3s;
  text-align: end;
  background: #3b71ca;
  color: #fff;
  border: 1px solid #3b71ca;;
  border-radius: 5px;
}
.TodoBtnTrue:hover{
  background: #1f60c9;
  color: #e6dcdc;
  border: 1px solid #1f60c9;
  transition: all 0.3s;
  color: #f0eded;
}
.TodoBlockBtn{
  gap: 10px;
  display: flex;
}
/* true Item */
.ContentBlocksAllItemTrue{
  background-color: #f4f6f7;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:5px;
  display: flex;
  gap: 10px;
}
.TodoLiTrue{
  text-align: start;
  text-decoration: line-through;
}
.TodoBtnDelete{
  cursor: pointer;
  text-align: end;
  background: #3b71ca;
  color: #fff;
  border: 1px solid #3b71ca;;
  border-radius: 5px;
  transition: all 0.3s;
}
.TodoBtnDelete:hover{
  background: #1f60c9;
  color: #e6dcdc;
  border: 1px solid #1f60c9;
  transition: all 0.3s;
  color: #f0eded;
}
@media  (max-width:870px) {
  .TodoBlocks {
    margin: auto;
    padding: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    width: 93%;
    height: 100%;
    min-height: 900px;
}
}

@media  (max-width:810px) {
  .ContentsBlocks {
    border-radius: 10px;
    margin: auto auto;
    min-height: 400px;
    padding: 28px 48px 48px 48px;
    background: #fff;
    width: 100%;
}
.TodoBlocks {
  margin: auto;
  padding: 30px 0 30px 0;
}
  .CreateBtn {
    cursor: pointer;
    width: 20%;
    background: #4ca2be;
    color: #fff;
    margin-left: 4px;
}  
}

@media (max-width:665px) {
  .CreateBtn {
    cursor: pointer;
    width: 20%;
    background: #4ca2be;
    color: #fff;
    margin-left: 0px;
}
}
@media (max-width:580px) {
  .CreateBtn {
    cursor: pointer;
    width: 100%;
    background: #4ca2be;
    color: #fff;
    margin-left: 0px;
}
.CreateBlock {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.CreateInput{
  width:95%;
}
}
@media (max-width:420px) {
  .CreateInput{
    width:92%;
  }
}